*{
    margin: 0;
    padding: 0;
}

.background img{
    width: 100%;
    display: block;
    object-fit: cover;
}

@keyframes zoom-btn {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.3);
    }
}

.btn-music{
    position: absolute;
    width: 4vw;
    transition: transform 0.3s ease-out;
}


.btn-music.active{
    transform: scale(1.3);
}